#result1
{
width: 30%;
}

#result2
{
width: 30%;
}

#result3
{
width: 30%;
}

.copy_right_footer {
    position: fixed;
    bottom: 0;
    text-align:center;
}

img:hover{
    border-radius: 140px;
}

img{
    width: 600px;
    height: 400px;
}

.column{
    display: inline;
    padding: 10px;
}

